html, body {
  font-family: 'Hind', sans-serif;
}

article {
    display: grid;
    grid-template-columns: 1fr 760px 1fr;
}



article > p {
    letter-spacing: .05rem;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
    line-height: 1.58;
    color: rgba(0,0,0,.84);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    grid-column: 2;
}



img {
    width: 100%;
    object-fit: cover;
    margin: 0;
    height: 75vh;
    grid-column: 1 / -1;


}


article > blockquote {
    grid-column: 3 / 5;
    padding-left: 10px;
    color: #666;
    border-left: 3px solid black;
}

h1 {
  text-align: center;
  font-size: 28px;
  grid-column: 2;
}

.chapter-nav {
  display: flex;
  margin: auto;
  width: 760px;
  padding: 10px;
}

.nav-name {
  font-size: 25px;
  color: #292a2b;
  margin: auto;
}

.triangle-right {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 50px solid #292a2b;
	border-bottom: 25px solid transparent;
}
