html, body {
  font-family: 'Noto Sans', sans-serif;
}

article {
    display: grid;
    grid-template-columns: 1fr 760px 1fr;
}



article > p {
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    line-height: 1.58;
    letter-spacing: -.003em;
    color: rgba(0,0,0,.84);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    grid-column: 2;
}



img {
    width: 100%;
    object-fit: cover;
    margin: 0;
    height: 75vh;
    grid-column: 1 / -1;
    margin: 20px 0;

}


article > blockquote {
    grid-column: 3 / 5;
    padding-left: 10px;
    color: #666;
    border-left: 3px solid black;
}

h1 {
  text-align: center;
  font-size: 28px;
  grid-column: 2;
}
